@using AutoMarketplace.Extensions;
@model CarMakeModel
@{
    var prevDisabled = !Model.Models.PreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Models.NextPage ? "disabled" : "";
}

<a class="btn btn-info " asp-controller="Home" asp-action="Index">Back</a>
<section style="display: flex;justify-content: space-around; ">

    <div style="text-align: center;">
        <img style="width: 300px; height: 300px;" src="@Model.LogoUrl" />
        <h1>@Model.Name</h1>
        <h2>@Model.Models.Count Models</h2>
        @if (User.IsAdmin())
        {
            <div style="display: flex; gap: 20px;justify-content: center;">
                <button id="deleteModalBtn" class="btn btn-danger">Delete</button>
                <button id="editModalBtn" class="btn btn-success">Edit</button>
            </div>
        }
    </div>
    <div style="text-align: center;">
        @if (User.IsAdmin())
        {
            <button id="createModel" type="button" class="btn btn-info " data-toggle="modal" data-target="#exampleModal" style="color: white;">Create Model</button>
        }
        <h2>Models: </h2>
        <div>
            @foreach (var carModel in Model.Models)
            {
                <a class="car-model-card" asp-controller="Cars" asp-action="CarModelDetails" asp-route-id="@carModel.Id">
                    <img src="@carModel.ImageUrl" style="width: 50px; height: 50px;object-fit: cover;" />
                    @Model.Name @carModel.Name Details
                </a>
            }
        </div>
        @if (Model.Models.Any())
        {
            <div style="margin-top: 20px;">
                <a asp-action="CarMakeDetails" asp-route-id="@Model.Id" asp-route-pageNumber="@(Model.Models.PageIndex - 1) " class="btn @prevDisabled">Previous</a>
                @for (int i = Model.Models.PageIndex - 3; i < Model.Models.PageIndex; i++)
                {
                    if (i > 0)
                    {
                        <a class="btn " style="width: 40px" asp-action="CarMakeDetails" asp-route-id="@Model.Id" asp-route-pageNumber="@i">@i</a>
                    }
                }
                <span style="width: 40px;" class="btn btn-primary">@Model.Models.PageIndex</span>

                @for (int i = Model.Models.PageIndex + 1; i <= Model.Models.PageIndex + 3; i++)
                {
                    if (i <= Model.Models.TotalPages)
                    {
                        <a class="btn " style="width: 40px" asp-action="CarMakeDetails" asp-route-id="@Model.Id" asp-route-pageNumber="@i">@i </a>
                    }
                }
                <a asp-action="CarMakeDetails" asp-route-id="@Model.Id" asp-route-pageNumber="@(Model.Models.PageIndex + 1) " class="btn @nextDisabled">Next</a>
            </div>
        }
       
    </div>

</section>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add a new Model</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="max-height: 83vh;overflow-y: scroll;">
                <div id="error" class="alert alert-danger" style="display: none" role="alert">
                    All fields without image are requiered !
                </div>
                <form asp-controller="Cars" asp-action="AddModel" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Name:</label>
                        <input type="text" name="name" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Body type:</label>
                        <input type="text" name="bodyType" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Engine:</label>
                        <input type="text" name="engine" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Start of production year:</label>
                        <input type="number" min="1900" max="2099" step="1" name="startYearOfProduction" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Number Of Doors:</label>
                        <input type="number" min="2" max="5" step="1" name="numberOfDoors" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">In Town Fuel Consumption Per 100km:</label>
                        <input type="number" step="0.01" name="inTownFuelConsumptionPer100km" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Out Of Town Fuel Consumption Per 100km:</label>
                        <input type="number" step="0.01" name="outOfTownFuelConsumptionPer100km" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Combined Town Fuel Consumption Per 100km:</label>
                        <input type="number" step="0.01" name="combinedFuelConsumptionPer100km" class="form-control" />
                    </div>
                    <div class="form-group" style="margin-top: 20px;">
                        <select class="form-select" name="fuelType" aria-label="Choose fuel type">
                            <option selected>Choose fuel type</option>
                            <option value="0">Petrol</option>
                            <option value="1">Diesel</option>
                            <option value="2">Electric</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Tank Volume:</label>
                        <input type="number" step="0.01" name="tankVolume" class="form-control" />
                    </div>
                    <input style="display:none" type="number" name="MakeId" value="@Model.Id" />

                    <label class="form-label" for="customFile">Image:</label>
                    <input type="file" name="image" class="form-control" id="customFile" />
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary close" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Make</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="Cars" asp-action="DeleteMake" asp-route-id="@Model.Id" method="post" enctype="multipart/form-data">
                    Are you sure you want to delete @Model.Name
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary close" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit make</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="Cars" asp-action="EditMake" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Name:</label>
                        <input type="text" value="@Model.Name" name="name" class="form-control" id="recipient-name">
                        <input type="number" value="@Model.Id" name="id" style="display: none" class="form-control" id="recipient-name">
                    </div>

                    <label class="form-label" for="customFile">Logo:</label>
                    <input type="file" name="file" class="form-control" id="customFile" />
                    <img src="@Model.LogoUrl" style="width: 50px; object-fit: contain;" />
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary close" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {

    <script>
        var urlParams = new URLSearchParams(window.location.search);
        console.log(urlParams.has('showError'));
        if (urlParams.has('showError')) {
            document.getElementById("error").style.display = 'block';
            document.getElementById("exampleModal").style.display = 'block';
            document.getElementById("exampleModal").style.opacity = 1;
            document.getElementById("exampleModal").style.background = 'rgb(18 19 18 / 65%)';
            document.getElementById("exampleModal").style.paddingTop = '50px';
        }
        $("#createModel").click(function () {
            $("#exampleModal").modal("show");
        });
        $(".close").click(function () {
            if (urlParams.has('showError')) {
                document.getElementById("exampleModal").style.display = 'none';
                document.getElementById("exampleModal").style.opacity = '';
                document.getElementById("exampleModal").style.background = '';
                document.getElementById("exampleModal").style.paddingTop = '';
            }
            $("#exampleModal").modal("hide");
        });
        $("#deleteModalBtn").click(function () {
            $("#deleteModal").modal("show");
        });
        $(".close").click(function () {
            $("#deleteModal").modal("hide");
        });
        $("#editModalBtn").click(function () {
            $("#editModal").modal("show");
        });
        $(".close").click(function () {
            $("#editModal").modal("hide");
        });
    </script>

}